@{
    Layout = "_Layout";
}

@model HairSalon.Models.Stylist


<h2>Edit Stylists</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StylistId)
    @Html.LabelFor(model => model.StylistName)
    <input type="submit" value="Update stylist">
}

<p>@Html.ActionLink("Return", "Index")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>