@{
    Layout = "_Layout";
}
<h1> Welcome to Pierre's HairSalon</h1>


<p>@Html.ActionLink("View All Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Add a new Stylist", "Create", "Stylists")</p>
<p>@Html.ActionLink("View All Clients", "Index", "Clients")</p>
<p>@Html.ActionLink("Add a new client", "Create", "Clients")</p>